.book {
  padding: 1.5rem 3rem;
  border-radius: 0.25em;
  border: solid 1px var(--clr-light-grey);
}

.book:not(:last-child) {
  margin-bottom: 0.5rem;
}

.bookAuthor {
  color: var(--clr-blue);
}

.book input {
  height: max-content;
}

.buttonDelete {
  --hover: rgb(229, 45, 45);
}
