.button {
  padding: 0.3em 2em;
  border: 0;
  border-radius: 0.25rem;
  color: var(--clr-white);
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  outline: solid 2px transparent;
  outline-offset: -2px;
  background-color: var(--clr-blue);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: outline 150ms ease-in-out, outline-offset 150ms ease-in-out,
    background-color 150ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--hover);
  outline: solid 2px var(--hover);
  outline-offset: 2px;
}
